In [64]:
import pandas as pd
import datetime
import numpy as np

In [65]:
#C:/Users/jiaojiaozhe/Desktop/PWS HW1.csv
df = pd.read_csv ('', header = None, usecols=[0, 1, 2, 3, 7],
                 names=['When','ID','Status','Problem','Author'], converters={'Problem': lambda x: str(x)})
df['When'] = pd.to_datetime(df['When'], format='%Y-%m-%d %H:%M:%S')
pd.set_option('display.max_rows', 100)

In [66]:
df.sort_values(['Problem', 'Author'], inplace = True)
df.head(20)
#整理過的資料

                    When            ID            Status Problem     Author
257  2021-03-09 20:17:45  2c80f60ee1bd          Accepted    0101  b01504125
258  2021-03-09 20:14:45  b0d60f27cbf5  Partial Accepted    0101  b01504125
261  2021-03-09 20:12:07  d0e7f933342a  Partial Accepted    0101  b01504125
262  2021-03-09 20:11:42  8489711158fc     Compile Error    0101  b01504125
265  2021-03-09 20:05:37  e7a9637d93f7  Partial Accepted    0101  b01504125
276  2021-03-09 18:00:08  9e4af91216a9  Partial Accepted    0101  b01504125
282  2021-03-09 17:27:16  2cdad30c7902  Partial Accepted    0101  b01504125
288  2021-03-09 17:18:11  b837d1d8c2b6      Wrong Answer    0101  b01504125
171  2021-03-10 08:38:27  b1f97dc93173          Accepted    0101  b04102044
172  2021-03-10 08:36:33  7c97d5dde682  Partial Accepted    0101  b04102044
409  2021-03-08 17:46:20  bb2d8592c9e4  Partial Accepted    0101  b04102044
415  2021-03-08 16:32:06  15d8cb7bbb2d  Partial Accepted    0101  b04102044
432  2021-03-08 12:22:52  ae59b10fbb1b  Partial Accepted    0101  b04102044
501  2021-03-08 10:26:45  f553dcd897bd  Partial Accepted    0101  b04102044
1680 2021-02-25 01:36:29  c444dc582374  Partial Accepted    0101  b05102097
1682 2021-02-25 01:34:30  bd53bc1d9be6  Partial Accepted    0101  b05102097
1861 2021-02-24 15:45:08  c498e023e4df          Accepted    0101  b05602046
1868 2021-02-24 15:38:49  2487a8707ab9  Partial Accepted    0101  b05602046
1870 2021-02-24 15:36:20  c611a12c2eca  Partial Accepted    0101  b05602046
1875 2021-02-24 15:31:30  7abf869e1232  Partial Accepted    0101  b05602046

In [67]:
authors = df['Author'].unique()
authors.sort()
#學生id
problems_id = df['Problem'].unique()
problems_id.sort()
#問題id
len(authors)

73

In [68]:
problem_types = df.groupby(['Author', 'Problem', 'Status'])['Status'].size().rename('Status_Total').reset_index()
problem_types
#分項繳交次數

        Author Problem            Status  Status_Total
0    b01504125    0101          Accepted             1
1    b01504125    0101     Compile Error             1
2    b01504125    0101  Partial Accepted             5
3    b01504125    0101      Wrong Answer             1
4    b01504125    0102          Accepted             1
..         ...     ...               ...           ...
599  r09741063    0102  Partial Accepted             8
600  r09741063    0102      Wrong Answer            14
601  r09848012    0101  Partial Accepted             1
602  r09848012    0101      Wrong Answer             2
603  r09848012    0102          Accepted             1

[604 rows x 4 columns]

In [69]:
problem_total = df.groupby(['Author', 'Problem'])['Status'].size().rename('Total_Submit_Times').reset_index()
problem_total
#總繳交次數

        Author Problem  Total_Submit_Times
0    b01504125    0101                   8
1    b01504125    0102                   7
2    b01504125    0103                   8
3    b01504125    0104                  14
4    b01504125    0105                   3
..         ...     ...                 ...
278  r09722007    0104                   2
279  r09741063    0101                   3
280  r09741063    0102                  25
281  r09848012    0101                   3
282  r09848012    0102                   1

[283 rows x 3 columns]

In [70]:
problems_info = pd.merge(problem_types, problem_total, left_on = ['Author', 'Problem'], right_on = ['Author', 'Problem'])
problems_info
#上面兩個合併

        Author Problem            Status  Status_Total  Total_Submit_Times
0    b01504125    0101          Accepted             1                   8
1    b01504125    0101     Compile Error             1                   8
2    b01504125    0101  Partial Accepted             5                   8
3    b01504125    0101      Wrong Answer             1                   8
4    b01504125    0102          Accepted             1                   7
..         ...     ...               ...           ...                 ...
599  r09741063    0102  Partial Accepted             8                  25
600  r09741063    0102      Wrong Answer            14                  25
601  r09848012    0101  Partial Accepted             1                   3
602  r09848012    0101      Wrong Answer             2                   3
603  r09848012    0102          Accepted             1                   1

[604 rows x 5 columns]

In [71]:
accepted = problems_info[problems_info["Status"] == "Accepted"]
accepted.sort_values('Status_Total')

        Author Problem    Status  Status_Total  Total_Submit_Times
0    b01504125    0101  Accepted             1                   8
350  b08106009    0104  Accepted             1                   6
352  b08106009    0105  Accepted             1                   1
353  b08106040    0101  Accepted             1                  18
357  b08106040    0102  Accepted             1                  16
..         ...     ...       ...           ...                 ...
554  r08322046    0102  Accepted             4                  12
106  b06404008    0104  Accepted             5                  46
411  b08401111    0104  Accepted             5                  12
414  b08401111    0105  Accepted             7                  11
111  b06404008    0105  Accepted            12                  18

[243 rows x 5 columns]

In [72]:
accepted.insert(5, 'Submit_Times_Before_AC', accepted["Total_Submit_Times"] - accepted["Status_Total"])
times_before_ac = accepted[['Author', 'Problem', 'Submit_Times_Before_AC']]
times_before_ac

        Author Problem  Submit_Times_Before_AC
0    b01504125    0101                       7
4    b01504125    0102                       6
7    b01504125    0103                       6
11   b01504125    0105                       2
13   b04102044    0101                       5
..         ...     ...                     ...
591  r09722007    0102                       0
592  r09722007    0103                       0
594  r09741063    0101                       2
597  r09741063    0102                      24
603  r09848012    0102                       0

[243 rows x 3 columns]

In [73]:
pd.set_option('display.max_rows', 100)
from_start_to_last_submit = df[['Author', 'Problem', 'When', 'Status']].sort_values(['Author', 'When'])
#from_start_to_last_submit.head(50)
#算時間的表格

In [74]:
work_time = []
for author in authors:
    for problem in problems_id:
        submit_time = from_start_to_last_submit.loc[(from_start_to_last_submit['Author'] == author) & (from_start_to_last_submit['Problem'] == problem), ['Author', 'Problem', 'When', 'Status']]
        process_time = submit_time['When'].max() - submit_time['When'].min()
        #print(author, problem, process_time)
        work_time.append([author, problem, process_time])
        
work_time.sort(key=lambda x: (x[0], x[1]))
work_time = pd.DataFrame(work_time, columns= ['Author','Problem', 'Process_Time'])
#work_time
#每人分項所花時間

In [78]:
time = pd.merge(times_before_ac, work_time, left_on = ['Author', 'Problem'], right_on = ['Author', 'Problem'])
time.sort_values('Process_Time').head(100)
#合併繳交次數與花的時間

           Author Problem  Submit_Times_Before_AC    Process_Time
242     r09848012    0102                       0 0 days 00:00:00
36      b06404003    0102                       0 0 days 00:00:00
37      b06404003    0103                       0 0 days 00:00:00
214     b09704027    0101                       0 0 days 00:00:00
213     b09613010    0102                       0 0 days 00:00:00
212     b09611033    0105                       0 0 days 00:00:00
197     b09605029    0104                       0 0 days 00:00:00
51      b06502168    0102                       0 0 days 00:00:00
155     b08207080    0105                       0 0 days 00:00:00
157     b08303051    0102                       0 0 days 00:00:00
190     b09305013    0102                       0 0 days 00:00:00
160     b08303051    0105                       0 0 days 00:00:00
56      b06505044    0102                       0 0 days 00:00:00
188     b09207049    0105                       0 0 days 00:00:00
185     b09207049    0102                       0 0 days 00:00:00
65      b06701138    0102                       0 0 days 00:00:00
134     b07801014    0101                       0 0 days 00:00:00
162     b08401111    0102                       0 0 days 00:00:00
95      b06705012    0102                       0 0 days 00:00:00
100     b06b02054    0102                       0 0 days 00:00:00
91      b06703042    0103                       0 0 days 00:00:00
90      b06703042    0102                       0 0 days 00:00:00
175     b08705028    0105                       0 0 days 00:00:00
84      b06703012    0104                       0 0 days 00:00:00
35      b06404003    0101                       0 0 days 00:00:00
82      b06703012    0102                       0 0 days 00:00:00
103     b07102007    0102                       0 0 days 00:00:00
177     b09201001    0102                       0 0 days 00:00:00
78      b06702055    0103                       0 0 days 00:00:00
166     b08705003    0101                       0 0 days 00:00:00
178     b09201001    0103                       0 0 days 00:00:00
179     b09201001    0104                       0 0 days 00:00:00
167     b08705003    0102                       0 0 days 00:00:00
120     b07610040    0102                       0 0 days 00:00:00
153     b08207080    0103                       0 0 days 00:00:00
16      b06201049    0101                       0 0 days 00:00:00
19      b06201049    0104                       0 0 days 00:00:00
17      b06201049    0102                       0 0 days 00:00:00
219     b09704076    0101                       0 0 days 00:00:00
15      b06105045    0105                       0 0 days 00:00:00
14      b06105045    0102                       0 0 days 00:00:00
141     b08106009    0103                       0 0 days 00:00:00
128     b07704059    0101                       0 0 days 00:00:00
20      b06201049    0105                       0 0 days 00:00:00
129     b07705031    0101                       0 0 days 00:00:00
130     b07705031    0102                       0 0 days 00:00:00
235     r09322020    0104                       0 0 days 00:00:00
236     r09322020    0105                       0 0 days 00:00:00
238     r09722007    0102                       0 0 days 00:00:00
140     b08106009    0102                       0 0 days 00:00:00
239     r09722007    0103                       0 0 days 00:00:00
139     b08106009    0101                       0 0 days 00:00:00
9       b05602046    0102                       0 0 days 00:00:00
125     b07704043    0102                       0 0 days 00:00:00
99      b06b02054    0101                       0 0 days 00:00:00
23      b06204046    0103                       0 0 days 00:00:00
225  jeffery12697    0103                       0 0 days 00:00:00
28      b06303103    0102                       0 0 days 00:00:00
27      b06303103    0101                       0 0 days 00:00:00
224  jeffery12697    0102                       0 0 days 00:00:00
143     b08106009    0105                       0 0 days 00:00:00
39      b06404003    0105                       1 0 days 00:00:18
72      b06702026    0102                       1 0 days 00:00:19
194     b09605029    0101                       0 0 days 00:00:20
180     b09201001    0105                       1 0 days 00:00:42
220     b09704076    0102                       1 0 days 00:01:01
58      b06505044    0104                       1 0 days 00:01:11
112     b07502043    0102                       1 0 days 00:01:11
173     b08705028    0103                       1 0 days 00:01:21
196     b09605029    0103                       2 0 days 00:01:29
195     b09605029    0102                       1 0 days 00:01:35
31      b06303103    0105                       1 0 days 00:01:58
126     b07704043    0103                       1 0 days 00:02:33
22      b06204046    0102                       2 0 days 00:02:33
171     b08705028    0101                       1 0 days 00:02:50
57      b06505044    0103                       2 0 days 00:02:58
59      b06505044    0105                       1 0 days 00:03:00
12      b05602046    0105                       2 0 days 00:03:22
234     r09322020    0103                       2 0 days 00:03:29
83      b06703012    0103                       2 0 days 00:03:46
221     b09704076    0103                       2 0 days 00:03:55
98      b06705012    0105                       2 0 days 00:04:02
215     b09704027    0102                       1 0 days 00:04:04
92      b06703042    0104                       2 0 days 00:04:11
69      b06701153    0104                       2 0 days 00:04:20
75      b06702026    0105                       2 0 days 00:05:10
88      b06703017    0105                       1 0 days 00:05:13
118     b07605042    0102                       3 0 days 00:05:18
96      b06705012    0103                       2 0 days 00:05:34
206     b09611028    0104                       1 0 days 00:05:53
86      b06703017    0101                       2 0 days 00:06:07
113     b07502043    0103                       2 0 days 00:06:47
174     b08705028    0104                       3 0 days 00:07:32
169     b08705003    0104                       3 0 days 00:08:09
189     b09305013    0101                       1 0 days 00:08:36
108     b07303091    0105                       1 0 days 00:08:41
150     b08109021    0105                       2 0 days 00:08:42
66      b06701153    0101                       5 0 days 00:09:45
165     b08401111    0105                       4 0 days 00:09:48
222     b09704076    0104                       2 0 days 00:09:55